.Rect1 {
    margin: 10px;
    position: relative;
    width: fit-content;
    height: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

}

.Rect3 {
    position: relative;
    width: 30px;
    height: 3px;
    background: #FFFFFF;
    border-radius: 7px;
}