.SideDrawer {
    margin: 0;
    height: 100%;
    width: 400px;
    background-color: rgb(40, 38, 153);
    position: fixed;
    transition: all;
    z-index: 150;
}


.slider-enter-active {
    animation: appear 0.5s ease-out;
}

.slider-exit-active {
    animation: disappear 0.5s ease-out;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    70% {
        transform: translateX(5%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@media (max-width: 500px) {
    .SideDrawer {
        width: 300px;
    }
}
