.Backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    transition: all 0.5s ease-out;
}

.slide-enter-acitve {
    animation: appear 0.5s ease-in;
}

.slide-exit-active {
    animation: dis 0.5s ease-out;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dis {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
