.SelectedFilm {
    display: flex;
    position: fixed;
    z-index: 150;
    width: 100%;
    height: 80%;
    transition: all 0.3s ease-out;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.container {
    margin: auto;
    display: flex;
    width: 80%;
    background-color: rgba(17, 16, 83, 0.705);
    border-radius: 10px;
    box-shadow: 0 0 2px white,
        0 0 4px white,
        0 0 12px white;
}

.container img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.description {
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: flex-start;
    width: 100%;
    text-align: start;
    margin-left: 5px;
    font-size: large;
}

.close-btn {
    height: 100px;
    width: fit-content; 
}

.film-enter {
    transform: translateY(-100%);
    transition: all 0.3s ease-out;
}

.film-enter-active {
    transform: translateY(0);
}

.film-exit-active {
    transform: translateY(-100%);
    transition: all 0.3s ease-out;
}

@media (max-width: 500px) {
    .container {
        flex-direction: column;
        width: 70%;
        box-shadow: 0 0 2px white,
        0 0 4px white,
        0 0 12px white;
    }

    .description {
        overflow: scroll;
        height: 300px;
        margin-left: 2px;
        width: 100%;
    }
    .container img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .SelectedFilm {
        width: 100%;
        margin: auto;
    }

    .SelectedFilm img {
        width: 100%;
        height: 300px;
    }
}