.SearchIcon {
    margin: auto;
    margin-left: 4px;
    align-items: center;
    display: flex;
    color: white;
    cursor: pointer;
}

.SearchIcon:hover {
    background-color: rgb(9, 35, 107);
    border-radius: 30px;
}